:root {
	--primary--100: hsl(216, 87%, 46%);
	--primary--200: hsl(216, 87%, 66%);
	--primary--300: hsl(216, 87%, 86%);
	--warning: hsl(5, 87%, 56%);
	--container: 72ch;
	--container-large: 96ch;
}
*,
*:after,
*:before {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
